#wrapper{
    background-image: url('../assets/images/fond1.jpg');
    background-size: cover;
    min-height: 100vh;
    
  }
  #login-wrapper{
    background: #ffffffa5;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    box-shadow: 0 0 60px 10px rgba(85,44,44,.2);
    display: flex;
    height: calc(100vh - 200px);
    min-height: 500px;
  }
  
  #login-part1{
    margin-bottom: 130px;
  }
  
  #logo{
    font-size: 3em;
  }
  
  #entreprise{
    display: none;
  }
  
  
  #nomEntreprise{
    font-family: 'REM', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin: 0;
  }
  
  #icons-social{
    list-style-type: none;
    font-size: 30px;
    display: flex;
    padding-left: 0;
    /* justify-content: center; */
    gap: 20px;
  }
  
  #form-connect{
    height: 100%;
  }
  
  #forgot-wrapper{
    width: 50%;
  }

  button{
    border: none;
  }
  
  
  
  
  
  
  /* QUERY */
  @media screen and (max-width: 767px) {
    #login-part1 {
      margin-bottom: 20px;
      justify-content: center;
    }
  
  
    #nomEntreprise{
      display: none;
    }
    #login-part2{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: justify;
    }
  
    #detail-entreprise{
      display: none;
    }
  
   
   
  }