body {
  font-family: Roboto, sans-serif;
}

.logo {
  height: 65px;
  background: rgba(255, 255, 255, 0.3);
}


.ant-layout-sider {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}

.ant-layout-sider-collapsed{
  flex: 0 0 90px !important;
  max-width: 90px !important;
  min-width: 90px !important;
  width: 90px !important;
}

.ant-layout-sider-collapsed .sm-logo{
  display: block;
}
.ant-layout-sider-collapsed .lg-logo{
  display: none;
}

.sm-logo{
  display: none;
}
.lg-logo{
  display: block;
}

main {
  overflow-y: scroll;
  height: 85vh;
  background-color: transparent  !important;
  
}

main::-webkit-scrollbar{
  width: 0;
}

.ant-menu-title-content{
  font-size: 16px;
}


.ant-layout-header h5{
  line-height: 20px;
  font-size: 15px;
}
.ant-layout-header p{
  line-height: 15px;
  font-size: 12px;
}
.ant-layout-header div .badge{
  top: 16px;
  right: 19px;
}


